<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.product.mapper.BrandMapper">

    <!-- 开启当前namespace缓存 -->
    <cache/>

    <!-- int insert(Brand brand); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_brand (
            name, pinyin, logo, description, keywords,
            sort, sales, product_count, comment_count, positive_comment_count,
            enable
        ) VALUES (
            #{name}, #{pinyin}, #{logo}, #{description}, #{keywords},
            #{sort}, #{sales}, #{productCount}, #{commentCount}, #{positiveCommentCount},
            #{enable}
        )
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE
        FROM
            pms_brand
        WHERE
            id=#{id}
    </delete>

    <!-- int deleteByIds(Long... ids); -->
    <delete id="deleteByIds">
        DELETE
        FROM
            pms_brand
        WHERE id IN (
            <foreach collection="array" item="id" separator=",">
                #{id}
            </foreach>
        )
    </delete>

    <!-- int update(Brand brand); -->
    <update id="update">
        UPDATE
            pms_brand
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="pinyin != null">
                pinyin=#{pinyin},
            </if>
            <if test="logo != null">
                logo=#{logo},
            </if>
            <if test="description != null">
                description=#{description},
            </if>
            <if test="keywords != null">
                keywords=#{keywords},
            </if>
            <if test="sort != null">
                sort=#{sort},
            </if>
            <if test="sales != null">
                sales=#{sales},
            </if>
            <if test="productCount != null">
                product_count=#{productCount},
            </if>
            <if test="commentCount != null">
                comment_count=#{commentCount},
            </if>
            <if test="positiveCommentCount != null">
                positive_comment_count=#{positiveCommentCount},
            </if>
            <if test="enable != null">
                enable=#{enable},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <!-- int count(); -->
    <select id="count" resultType="int">
        SELECT count(*) FROM pms_brand
    </select>

    <!-- int countByName(String name); -->
    <select id="countByName" resultType="int">
        SELECT count(*) FROM pms_brand WHERE name=#{name}
    </select>

    <!-- BrandStandardVO getStandardById(Long id); -->
    <select id="getStandardById" resultMap="StandardResultMap">
        SELECT
            <include refid="StandardQueryFields"/>
        FROM
            pms_brand
        WHERE
            id=#{id}
    </select>

    <!-- List<BrandListItemVO> list(); -->
    <select id="list" resultMap="ListItemResultMap">
        SELECT
            <include refid="ListItemQueryFields"/>
        FROM
            pms_brand
        ORDER BY
            sort DESC, pinyin, id DESC
    </select>

    <sql id="ListItemQueryFields">
        <if test="true">
            id, name, logo
        </if>
    </sql>

    <resultMap id="ListItemResultMap" type="cn.tedu.csmall.product.pojo.vo.BrandListItemVO">
    </resultMap>

    <sql id="StandardQueryFields">
        <if test="true">
            id, name, pinyin, logo, description,
            keywords, sort, sales, product_count, comment_count,
            positive_comment_count, enable
        </if>
    </sql>

    <resultMap id="StandardResultMap" type="cn.tedu.csmall.product.pojo.vo.BrandStandardVO">
        <result column="product_count" property="productCount" />
        <result column="comment_count" property="commentCount" />
        <result column="positive_comment_count" property="positiveCommentCount" />
    </resultMap>

</mapper>