<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.csmall.product.mapper.SkuMapper">

    <!-- 注意：此id不是自动编号的，则需要插入id值，且不需要配置自动获取id的2个属性 -->
    <!-- int insert(Sku sku); -->
    <insert id="insert">
        INSERT INTO pms_sku (
            id, spu_id, title, bar_code, attribute_template_id,
            specifications, album_id, pictures, price, stock,
            stock_threshold, sort
        ) VALUES (
            #{id}, #{spuId}, #{title}, #{barCode}, #{attributeTemplateId},
            #{specifications}, #{albumId}, #{pictures}, #{price}, #{stock},
            #{stockThreshold}, #{sort}
        )
    </insert>

    <!-- int deleteById(Long id); -->
    <delete id="deleteById">
        DELETE
        FROM
            pms_sku
        WHERE
            id = #{id}
    </delete>

    <!-- int deleteByIds(Long... ids); -->
    <delete id="deleteByIds">
        DELETE
        FROM
            pms_sku
        WHERE
            id IN (
                <foreach collection="array" item="id" separator=",">
                    #{id}
                </foreach>
            )
    </delete>

    <!-- SkuStandardVO getStandardById(Long id); -->
    <select id="getStandardById" resultMap="StandardResultMap">
        SELECT
            <include refid="StandardQueryFields" />
        FROM
            pms_sku
        WHERE
            id=#{id}
    </select>

    <sql id="StandardQueryFields">
        <if test="true">
            id,
            spu_id,
            title,
            bar_code,
            attribute_template_id,
            specifications,
            album_id,
            pictures,
            price,
            stock,
            stock_threshold,
            sales,
            comment_count,
            positive_comment_count,
            sort
        </if>
    </sql>

    <resultMap id="StandardResultMap" type="cn.tedu.csmall.product.pojo.vo.SkuStandardVO">
        <id column="id" property="id"/>
        <result column="spu_id" property="spuId"/>
        <result column="title" property="title"/>
        <result column="bar_code" property="barCode"/>
        <result column="attribute_template_id" property="attributeTemplateId"/>
        <result column="data" property="data"/>
        <result column="album_id" property="albumId"/>
        <result column="pictures" property="pictures"/>
        <result column="price" property="price"/>
        <result column="stock" property="stock"/>
        <result column="stock_threshold" property="stockThreshold"/>
        <result column="sales" property="sales"/>
        <result column="comment_count" property="commentCount"/>
        <result column="positive_comment_count" property="positiveCommentCount"/>
        <result column="sort" property="sort"/>
    </resultMap>

</mapper>
